body {
    text-align: center;
}

.clock {
    display: block;
    color: white;
    font-size: 96px;
}

.weather {
    display: block;
    color: white;
    font-size: 48px;
}

.hidden {
    display: none;
}

.greeting {
    display: block;
    color: white;
}

.todo {
    margin-top: 50px;
}

.todotitle {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-top: 50px;
}

.todolist {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
}